# Introduction to NumPy

In [11]:
import numpy as np

### DataTypes and Attributes

In [12]:
#numPy's main datatype is ndarry (n dim array)

# Array, vector:
a1= np.array([1,2,3])
a1

# 1 dimensional
#shape: (1,3)   which means 1 row and 3 columns

array([1, 2, 3])

In [13]:
# array, matrix:
a2 = np.array([[1,2,3.3],
              [4,5,6.5]])
a2

# 2 dimensional
#shape: (2,3)   which means 1 row and 3 columns

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [14]:
# array, matrix:
a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9]],
                [[10,11,12],
                [13,14,15],
                [16,17,18]]])
a3

# 3 dimensional
#shape: (2, 3, 3)   which means 2 row and 3 columns

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [15]:
type(a3)

numpy.ndarray

In [16]:
# To add image: ![](numpy_array.jpg)

![](numpy_array.jpg)

In [19]:
a1.shape

(3,)

In [20]:
a2.shape

(2, 3)

In [21]:
a3.shape

(2, 3, 3)

In [22]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [24]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [25]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [26]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

### Creating a DataFrame from umPy array

In [30]:
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

### Creating numPy array

In [31]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [34]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])