# Introduction to NumPy

In [11]:
import numpy as np

### DataTypes and Attributes

In [12]:
#numPy's main datatype is ndarry (n dim array)

# Array, vector:
a1= np.array([1,2,3])
a1

# 1 dimensional
#shape: (1,3)   which means 1 row and 3 columns

array([1, 2, 3])

In [13]:
# array, matrix:
a2 = np.array([[1,2,3.3],
              [4,5,6.5]])
a2

# 2 dimensional
#shape: (2,3)   which means 1 row and 3 columns

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [14]:
# array, matrix:
a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9]],
                [[10,11,12],
                [13,14,15],
                [16,17,18]]])
a3

# 3 dimensional
#shape: (2, 3, 3)   which means 2 row and 3 columns

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [15]:
type(a3)

numpy.ndarray

In [16]:
# To add image: ![](numpy_array.jpg)

![](numpy_array.jpg)

In [19]:
a1.shape

(3,)

In [20]:
a2.shape

(2, 3)

In [21]:
a3.shape

(2, 3, 3)

In [22]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [24]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [25]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [26]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

### Creating a DataFrame from umPy array

In [30]:
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

### Creating numPy array

In [31]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [34]:
ones = np.ones((2,3))  # array with ones
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [36]:
zeros = np.zeros((2,3,3))  # array with zeros
zeros

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [39]:
range_array = np.arange(0,10,2)  # array with range (start,stop,step)
range_array

array([0, 2, 4, 6, 8])

In [47]:
random_array = np.random.randint(0, 10, (2,3,4))  # array with random int
random_array

array([[[9, 6, 9, 0],
        [2, 9, 3, 9],
        [0, 7, 0, 9]],

       [[5, 2, 1, 6],
        [1, 0, 0, 2],
        [9, 2, 0, 3]]])

In [54]:
random_array2 = np.random.random((2,3,4))  # array with random
random_array2

array([[[0.55827853, 0.95618351, 0.52012082, 0.48089205],
        [0.12482996, 0.39350166, 0.70776061, 0.82042066],
        [0.99912388, 0.10810524, 0.50210957, 0.29488536]],

       [[0.08460133, 0.59910887, 0.64610079, 0.35958594],
        [0.58599962, 0.55901246, 0.28166404, 0.80718766],
        [0.03380487, 0.80411125, 0.96269374, 0.1826192 ]]])

In [56]:
random_array3 = np.random.rand(2,3,4)  # array with random
random_array3

array([[[0.86085053, 0.88024944, 0.66155877, 0.51776043],
        [0.92450021, 0.46925657, 0.51254523, 0.13841513],
        [0.30812783, 0.76053647, 0.2604412 , 0.38122366]],

       [[0.19750469, 0.88858319, 0.19305689, 0.25388563],
        [0.8084023 , 0.02960281, 0.36029262, 0.85551315],
        [0.43041631, 0.93105769, 0.50888409, 0.38101076]]])

In [65]:
# Using random seed (this keep aligned with the seed)
np.random.seed(seed=52)
random_array4 = np.random.randint(0,10, (5,3))  # array with random int
random_array4

array([[5, 7, 6],
       [7, 0, 5],
       [3, 3, 1],
       [3, 1, 5],
       [1, 0, 0]])

### Viewing Arrays and Matrices

In [67]:
np.unique(random_array4)  #finds the unique elements in np array

array([0, 1, 3, 5, 6, 7])

In [71]:
a3, a3[1]

(array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]), array([[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]))

In [98]:
a4 = np.random.randint(10, size = (2,3,4,5))   # Arrays read from the last to first
a4

array([[[[6, 0, 6, 3, 6],
         [0, 4, 1, 3, 5],
         [0, 5, 6, 4, 0],
         [8, 2, 0, 1, 9]],

        [[1, 0, 0, 3, 9],
         [1, 3, 2, 1, 0],
         [9, 0, 4, 5, 3],
         [8, 4, 6, 1, 1]],

        [[7, 7, 6, 9, 7],
         [1, 9, 0, 4, 7],
         [0, 9, 0, 8, 2],
         [8, 6, 3, 7, 3]]],


       [[[5, 1, 4, 7, 4],
         [6, 6, 3, 8, 7],
         [6, 1, 4, 9, 2],
         [3, 6, 1, 8, 2]],

        [[4, 9, 1, 1, 4],
         [0, 8, 0, 2, 5],
         [4, 5, 0, 4, 0],
         [8, 1, 8, 3, 2]],

        [[1, 4, 3, 9, 3],
         [1, 0, 4, 8, 5],
         [8, 8, 2, 7, 1],
         [7, 7, 2, 1, 6]]]])

In [78]:
a4.ndim

4

### How to get the first 4 numbers of the inner most arrays

In [99]:
a4[:, :, :, 4]

array([[[6, 5, 0, 9],
        [9, 0, 3, 1],
        [7, 7, 2, 3]],

       [[4, 7, 2, 2],
        [4, 5, 0, 2],
        [3, 5, 1, 6]]])

In [102]:
a4[:, :, :, 3]  #first 3 numbers of the inner most arrays

array([[[3, 3, 4, 1],
        [3, 1, 5, 1],
        [9, 4, 8, 7]],

       [[7, 8, 9, 8],
        [1, 2, 4, 3],
        [9, 8, 7, 1]]])

In [103]:
a4[:, :, 3, :]

array([[[8, 2, 0, 1, 9],
        [8, 4, 6, 1, 1],
        [8, 6, 3, 7, 3]],

       [[3, 6, 1, 8, 2],
        [8, 1, 8, 3, 2],
        [7, 7, 2, 1, 6]]])

## Manupulate and Comparing Arrays

### Arithmatic

In [104]:
a1

array([1, 2, 3])

In [105]:
ones = np.ones(3)

In [106]:
a1+ones

array([2., 3., 4.])